<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background:#D1D0CE;">

    <div class="row" style="margin-top:200px;">
		<form action="/form" method="post">
	    	<div class="col-lg-4"></div>
	    	<div class="col-lg-4">
				<h1 style="text-align:center; margin-top:20px;margin-bottom:15px;">OAuth User Login</h1>

		    	<div class="input-group" style="width:100%;margin-bottom:15px;">
				  <input class="form-control" style="width:100%;font-size:20px;border:none; height:45px;" type="email" placeholder="Email"  aria-describedby="sizing-addon1" name="email">
				</div>

				<div class="input-group" style="width:100%;margin-bottom:15px;">
				  <input class="form-control" style="width:100%;font-size:20px;border:none; height:45px;" type="password" placeholder="Password" name="password">
				</div> 
				  
				 <button style="width:100%;" type="submit" class="btn btn-lg btn-primary">Submit</button>
	    	</div>
	    	<div class="col-lg-4"></div>
		</form>
   	</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
